{% extends "base.html" %}

{% block title %}
    {{ todo.name }}
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}">My lists</a>
        </nav>
    </header>
    <main>
        <h1>{{ todo.name }}</h1>
        <p><a href="{% url 'todo_list_update' todo.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' todo.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <div>
            <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Due Date</td>
                        <td>Complete?</td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo.items.all %}
                        <tr>
                            <td><a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a></td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
