a {
    text-decoration: none;
    color: #588157
}

a:hover {
    color: #344E41;
}

a:visited {
    color: #A3B18A
}

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis";
}

footer {
    padding-top: 48px;
    padding-right: 24px;
    padding-bottom: 48px;
    padding-left: 24px;
    background-color: #A3B18A;
    font-size: medium;
}

header{
    background-color: #588157;
    border-bottom: 1px #344E41;
    padding: 30px;
}

h1 {
    color:#588157;
}

img {
    height: 200px;
}

main {
    padding: 50px;
}
